@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --foreground-muted: #737373;
  --primary: #6b71fd;
  --secondary: #262626;
  --accent: #3dffb5;
  --warning: #f59e0b;
  --warning-muted: #3b2a0d;
  --danger: #ef4444;
  --danger-muted: #3b0d0d;
  --input-border: #484848;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
